<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is home page </h1>
    <nav>
        <ul list-type="none">
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/services/">Services</a></li>
        </ul>
    </nav>
    <img src="{{url_for('static',filename='girl-img.webp')}}" alt="cute girl" width="400px" height="400px">
</body>

</html>